.white-line {
  width: 100%;
  height: 1px; /* Ajuste a altura conforme necessário */
  margin-top: 1em;
  margin-bottom: 1em;
}

:host(.default) .white-line {
  background-color: white;
}

:host(.gray-strong) .white-line {
  background-color: #666 !important;
}
