<div class="container-left">
  <!-- Profile -->
  <div class="container-left-photo">
    <div class="container-left-title">Marcos Vinicius</div>
    <div class="container-left-sub-title">Dev Front End</div>
    <div class="container-left-img"></div>
  </div>
  <!-- div father -->
  <div class="main">

    <!-- About me -->
    <div class="main-about">
      <!-- Menu Title -->
      <div class="main-about-container">
        <div class="main-about-container-logo"></div>
        <div class="main-about-container-title">Sobre mim</div>
      </div>
      <!-- Description -->
      <div class="main-about-descripton">
        Cursei Ciências da Computação e tenho ampla experiência em desenvolvimento na área de T.I. Domino
        diversas linguagens e ferramentas, como HTML5, JavaScript, C#, CSS, Sass, Bootstrap, AngularJS, Angular+,
        ReactJS e TypeScript.

        Tenho habilidades avançadas em Excel e no pacote Office, Já atuei na gestão de pessoas, agregando organização e
        eficiência às equipes
        em que trabalhei.
      </div>
    </div>

    <!-- Languages -->
    <div class="main-languages">
      <!-- Menu Title -->
      <div class="main-about-container">
        <div class="main-about-container-logo"></div>
        <div class="main-about-container-title">Linguagens</div>
      </div>

      <!-- English -->
      <div class="language-level">
        <div class="language">
          <span>English</span>
          <span class="certificate">Estudando...</span>
        </div>
        <div class="level-dots">
          <span class="dot filled"></span>
          <span class="dot filled"></span>
          <span class="dot empty"></span>
          <span class="dot empty"></span>
          <span class="dot empty"></span>
        </div>
      </div>

      <!-- Portugues -->
      <div class="language-level">
        <div class="language">
          <span>Portugues</span>
          <span class="certificate">Nativo</span>
        </div>
        <div class="level-dots">
          <span class="dot filled"></span>
          <span class="dot filled"></span>
          <span class="dot filled"></span>
          <span class="dot filled"></span>
          <span class="dot filled"></span>
        </div>
      </div>

    </div>

    <!-- Reach me -->
    <div class="reach-me">
      <!-- Menu Title -->
      <div class="main-reach-container">
        <div class="main-reach-container-logo"></div>
        <div class="main-reach-container-title">Contate-me</div>
      </div>

      <ul class="reach-description">
        <li>
          <span class="icon location-icon"></span>
          Monte Mor, São Paulo, Brasil
        </li>
        <li>
          <span class="icon phone-icon"></span>
          +55 (019) 99835-8165
        </li>
        <li>
          <span class="icon mail-icon"></span>
          marcos1998souza&#64;hotmail.com
        </li>
        <li>
          <span class="icon linkedin-icon"></span>
          <a href="https://www.linkedin.com/in/marcos-vinicius-baa8211a2/">www.linkedin.com/in/marcos</a>

        </li>
        <li>
          <span class="icon github-icon"></span>
          <a href="https://github.com/Marcos-Vinicius-Silva">github.com/marcos-vinicius</a>
        </li>
      </ul>
    </div>
  </div>

</div>